<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddEpisode</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/episodes</string>
			<key>Prod</key>
			<string>/api/episodes</string>
		</dict>
	</dict>
	<key>AddComment</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/comments</string>
			<key>Prod</key>
			<string>/api/comments</string>
		</dict>
	</dict>
	<key>Comments</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/episodes/%@/comments</string>
			<key>Prod</key>
			<string>/api/episodes/%@/comments</string>
		</dict>
	</dict>
	<key>Media</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/media</string>
			<key>Prod</key>
			<string>/api/media</string>
		</dict>
	</dict>
	<key>Episodes</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/shows/%@/episodes</string>
			<key>Prod</key>
			<string>/api/shows/%@/episodes</string>
		</dict>
	</dict>
	<key>Episode</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/episodes/</string>
			<key>Prod</key>
			<string>/api/episodes/</string>
		</dict>
	</dict>
	<key>Show</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/shows/</string>
			<key>Prod</key>
			<string>/api/shows/</string>
		</dict>
	</dict>
	<key>ShowList</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/shows</string>
			<key>Prod</key>
			<string>/api/shows</string>
		</dict>
	</dict>
	<key>Login</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev</key>
			<string>/api/users/sessions</string>
			<key>Prod</key>
			<string>/api/users/sessions</string>
		</dict>
	</dict>
	<key>BaseURL</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Prod</key>
			<string>https://api.infinum.academy</string>
			<key>Dev</key>
			<string>https://api.infinum.academy</string>
		</dict>
	</dict>
</dict>
</plist>
